* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/************************** Header-section **************************/
.header {
    height: 3.5rem;
    background-color: #2C3E50;
    color: white;
    display: flex;
}

.logo {
    font-weight: lighter;
    width: 70%;
    background-color: #2C3E50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10rem;
}


.language {
    width: 30%;
    background-color: #2C3E50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 10rem;
}

#select {
    background-color: #2C3E50;
    color: white;
    border: none;
    font-size: 15px;
}

/************************** Hero-section **************************/

.hero-section {
    height: 37.5rem;
    background-color: #18BC9C;
    display: grid;

}

.hero-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}

.img {
    height: 16rem;
    width: 12.5rem;
    background-image: url("images/hero-section-img.png");
}

.hero-img h1 {
    padding-top: 3rem;
    color: white;
    font-size: 3rem;
    font-weight: 100;
}


/************************** contact-section **************************/

.contact-container {
    height: 10rem;
    width: auto;
    background-color: #c5bdbd72;
    display: grid;
    /* border-bottom: 1px solid #999999; */
}

.contact-container p {
    display: flex;
    justify-content: center;
    margin-top: 2.2rem;
    color: #999999;
    font-size: 15px;
}


.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.2rem;
}

.contact input {
    height: 2.25rem;
    width: 21.875rem;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #999999;
}

.contact button {
    height: 2.25rem;
    width: 4.485rem;
    background-color: #18BC9C;
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
    cursor: pointer;
}

.bottom-line {
  background-color: rgb(0, 0, 0);
  height: 0px;
  margin: 0 6.5rem;
}

/************************** Box1-section **************************/

.box-container {
    height: auto;
    width: auto;
    background-color: #c5bdbd72;
}

.box-container h1 {
    color: #999999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0rem;
}


.all-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 6rem;
}

/* Box1-content */

.box1 {
    height: 24.375rem;
    width: 17.813rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.box1 p {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 14px;
}

.box1 h2 {
    padding-top: 25px;
    color: #2C3E50;
    font-size: 21px;
}

.img-box1 {
    height: 9.375rem;
    width: 9.375rem;
    background-image: url("images/container1-image/image1.png");
    border-radius: 50%;

}

.box1:hover {
    background-color: #18BC9C;
    transition: background-color 0.5s;
}


/* Box2-content */

.box2 {
    height: 24.375rem;
    width: 17.813rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.box2 p {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 14px;
}

.box2 h2 {
    padding-top: 25px;
    color: #2C3E50;
    font-size: 21px;
}

.img-box2 {
    height: 9.375rem;
    width: 9.375rem;
    background-image: url("images/container1-image/image2.png");
    border-radius: 50%;

}

.box2:hover {
    background-color: #18BC9C;
    transition: background-color 0.5s;
}


/* Box3-content */

.box3 {
    height: 24.375rem;
    width: 17.813rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.box3 p {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 14px;
}

.box3 h2 {
    padding-top: 25px;
    color: #2C3E50;
    font-size: 21px;
}

.img-box3 {
    height: 9.375rem;
    width: 9.375rem;
    background-image: url("images/container1-image/image3.png");
    border-radius: 50%;
}

.box3:hover {
    background-color: #18BC9C;
    transition: background-color 0.5s;
}


/* Box4-content */

.box4 {
    height: 24.375rem;
    width: 17.813rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.box4 p {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 14px;
}

.box4 h2 {
    padding-top: 25px;
    color: #2C3E50;
    font-size: 21px;
}

.img-box4 {
    height: 9.375rem;
    width: 9.375rem;
    background-image: url("images/container1-image/image4.png");
    border-radius: 50%;

}

.box4:hover {
    background-color: #18BC9C;
    transition: background-color 0.5s;
}

/* Box5-content */

.box5 {
    height: 24.375rem;
    width: 17.813rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.box5 p {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 14px;
}

.box5 h2 {
    padding-top: 25px;
    color: #2C3E50;
    font-size: 21px;
}

.img-box5 {
    height: 9.375rem;
    width: 9.375rem;
    background-image: url("images/container1-image/image5.png");
    border-radius: 50%;

}

.box5:hover {
    background-color: #18BC9C;
    transition: background-color 0.5s;
}


/* Box6-content */

.box6 {
    height: 24.375rem;
    width: 17.813rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.box6 p {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 14px;
}

.box6 h2 {
    padding-top: 25px;
    color: #2C3E50;
    font-size: 21px;
}

.img-box6 {
    height: 9.375rem;
    width: 9.375rem;
    background-image: url("images/container1-image/image6.png");
    border-radius: 50%;

}

.box6:hover {
    background-color: #18BC9C;
    transition: background-color 0.5s;
}


/* Box7-content */

.box7 {
    height: 24.375rem;
    width: 17.813rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.box7 p {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 14px;
}

.box7 h2 {
    padding-top: 25px;
    color: #2C3E50;
    font-size: 21px;
}

.img-box7 {
    height: 9.375rem;
    width: 9.375rem;
    background-image: url("images/container1-image/image7.png");
    border-radius: 50%;

}

.box7:hover {
    background-color: #18BC9C;
    transition: background-color 0.5s;
}
/* Box8-content */

.box8 {
    height: 24.375rem;
    width: 17.813rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.box8 p {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 14px;
}

.box8 h2 {
    padding-top: 25px;
    color: #2C3E50;
    font-size: 21px;
}

.img-box8 {
    height: 9.375rem;
    width: 9.375rem;
    background-image: url("images/container1-image/image8.png");
    border-radius: 50%;

}

.box8:hover {
    background-color: #18BC9C;
    transition: background-color 0.5s;
}


/************************** Box2-section **************************/


.box-container2 {
    height: auto;
    width: auto;
    background-color: #c5bdbd72;
}

.box-container2 h1 {
    color: #999999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0rem;
}


.all-box-Journeyman {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 6rem;
}


/* Box1-container2 */

.box1-Journeyman {
    height: 24.375rem;
    width: 17.813rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.box1-Journeyman p {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 14px;
}

.box1-Journeyman h2 {
    padding-top: 25px;
    color: #2C3E50;
    font-size: 21px;
}

.img-box1-Journeyman {
    height: 9.375rem;
    width: 9.375rem;
    background-image: url("images/container2-image/image1.png");
    border-radius: 50%;

}

.box1-Journeyman:hover {
    background-color: #18BC9C;
    transition: background-color 0.5s;
}


/* Box2-container2 */

.box2-Journeyman {
    height: 24.375rem;
    width: 17.813rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.box2-Journeyman p {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 14px;
}

.box2-Journeyman h2 {
    padding-top: 25px;
    color: #2C3E50;
    font-size: 21px;
}

.img-box2-Journeyman {
    height: 9.375rem;
    width: 9.375rem;
    background-image: url("images/container2-image/image2.png");
    border-radius: 50%;

}

.box2-Journeyman:hover {
    background-color: #18BC9C;
    transition: background-color 0.5s;
}


/* Box3-container2 */

.box3-Journeyman {
    height: 24.375rem;
    width: 17.813rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.box3-Journeyman p {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 14px;
}

.box3-Journeyman h2 {
    padding-top: 25px;
    color: #2C3E50;
    font-size: 21px;
}

.img-box3-Journeyman {
    height: 9.375rem;
    width: 9.375rem;
    background-image: url("images/container2-image/image3.png");
    border-radius: 50%;

}

.box3-Journeyman:hover {
    background-color: #18BC9C;
    transition: background-color 0.5s;
}


/* Box4-container2 */

.box4-Journeyman {
    height: 24.375rem;
    width: 17.813rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.box4-Journeyman p {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 14px;
}

.box4-Journeyman h2 {
    padding-top: 25px;
    color: #2C3E50;
    font-size: 21px;
}

.img-box4-Journeyman {
    height: 9.375rem;
    width: 9.375rem;
    background-image: url("images/container2-image/image4.png");
    border-radius: 50%;

}

.box4-Journeyman:hover {
    background-color: #18BC9C;
    transition: background-color 0.5s;
}


/* Box5-container2 */

.box5-Journeyman {
    height: 24.375rem;
    width: 17.813rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.box5-Journeyman p {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 14px;
}

.box5-Journeyman h2 {
    padding-top: 25px;
    color: #2C3E50;
    font-size: 21px;
}

.img-box5-Journeyman {
    height: 9.375rem;
    width: 9.375rem;
    background-image: url("images/container2-image/image5.png");
    border-radius: 50%;

}

.box5-Journeyman:hover {
    background-color: #18BC9C;
    transition: background-color 0.5s;
}


/* Box6-container2 */

.box6-Journeyman {
    height: 24.375rem;
    width: 17.813rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.box6-Journeyman p {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 14px;
}

.box6-Journeyman h2 {
    padding-top: 25px;
    color: #2C3E50;
    font-size: 21px;
}

.img-box6-Journeyman {
    height: 9.375rem;
    width: 9.375rem;
    background-image: url("images/container2-image/image6.png");
    border-radius: 50%;

}

.box6-Journeyman:hover {
    background-color: #18BC9C;
    transition: background-color 0.5s;
}


/* Box7-container2 */

.box7-Journeyman {
    height: 24.375rem;
    width: 17.813rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.box7-Journeyman p {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 14px;
}

.box7-Journeyman h2 {
    padding-top: 25px;
    color: #2C3E50;
    font-size: 21px;
}

.img-box7-Journeyman {
    height: 9.375rem;
    width: 9.375rem;
    background-image: url("images/container2-image/image7.png");
    border-radius: 50%;

}

.box7-Journeyman:hover {
    background-color: #18BC9C;
    transition: background-color 0.5s;
}


/************************** Box3-section **************************/

.box-container3 {
    height: auto;
    width: auto;
    background-color: #c5bdbd72;
}

.box-container3 h1 {
    color: #999999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0rem;
}


.all-box-Networking {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 6rem;
}



/** Box1-container3 **/

.box1-Networking {
    height: 24.375rem;
    width: 17.813rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.box1-Networking p {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 14px;
}

.box1-Networking h2 {
    padding-top: 25px;
    color: #2C3E50;
    font-size: 21px;
}

.img-box1-Networking {
    height: 9.375rem;
    width: 9.375rem;
    background-image: url("images/container3-image/image1.png");
    border-radius: 50%;

}

.box1-Networking:hover {
    background-color: #18BC9C;
    transition: background-color 0.5s;
}


/* Box2-container3 */

.box2-Networking {
    height: 24.375rem;
    width: 17.813rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.box2-Networking p {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 14px;
}

.box2-Networking h2 {
    padding-top: 25px;
    color: #2C3E50;
    font-size: 21px;
}

.img-box2-Networking {
    height: 9.375rem;
    width: 9.375rem;
    background-image: url("images/container3-image/image2.png");
    border-radius: 50%;

}

.box2-Networking:hover {
    background-color: #18BC9C;
    transition: background-color 0.5s;
}



/* Box3-container3 */

.box3-Networking {
    height: 24.375rem;
    width: 17.813rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.box3-Networking p {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 14px;
}

.box3-Networking h2 {
    padding-top: 25px;
    color: #2C3E50;
    font-size: 21px;
}

.img-box3-Networking {
    height: 9.375rem;
    width: 9.375rem;
    background-image: url("images/container3-image/image3.png");
    border-radius: 50%;

}

.box3-Networking:hover {
    background-color: #18BC9C;
    transition: background-color 0.5s;
}



/* Box4-container3 */

.box4-Networking {
    height: 24.375rem;
    width: 17.813rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.box4-Networking p {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 14px;
}

.box4-Networking h2 {
    padding-top: 25px;
    color: #2C3E50;
    font-size: 21px;
}

.img-box4-Networking {
    height: 9.375rem;
    width: 9.375rem;
    background-image: url("images/container3-image/image4.png");
    border-radius: 50%;

}

.box4-Networking:hover {
    background-color: #18BC9C;
    transition: background-color 0.5s;
}



/* Box5-container3 */

.box5-Networking {
    height: 24.375rem;
    width: 17.813rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.box5-Networking p {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 14px;
}

.box5-Networking h2 {
    padding-top: 25px;
    color: #2C3E50;
    font-size: 21px;
}

.img-box5-Networking {
    height: 9.375rem;
    width: 9.375rem;
    background-image: url("images/container3-image/image5.png");
    border-radius: 50%;

}

.box5-Networking:hover {
    background-color: #18BC9C;
    transition: background-color 0.5s;
}



/* Box6-container3 */

.box6-Networking {
    height: 24.375rem;
    width: 17.813rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.box6-Networking p {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 14px;
}

.box6-Networking h2 {
    padding-top: 25px;
    color: #2C3E50;
    font-size: 21px;
}

.img-box6-Networking {
    height: 9.375rem;
    width: 9.375rem;
    background-image: url("images/container3-image/image6.png");
    border-radius: 50%;

}

.box6-Networking:hover {
    background-color: #18BC9C;
    transition: background-color 0.5s;
}



/* Box7-container3 */

.box7-Networking {
    height: 24.375rem;
    width: 17.813rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.box7-Networking p {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 14px;
}

.box7-Networking h2 {
    padding-top: 25px;
    color: #2C3E50;
    font-size: 21px;
}

.img-box7-Networking {
    height: 9.375rem;
    width: 9.375rem;
    background-image: url("images/container3-image/image7.png");
    border-radius: 50%;

}

.box7-Networking:hover {
    background-color: #18BC9C;
    transition: background-color 0.5s;
}

/************************************* Footer *************************************/

.footer {
    background-color: #2C3E50;
    height: 12.5rem;
    width: auto;
}

.foot-panel1 {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3rem;
}


.foot-panel1 a {
    color: #428BCA;
    font-size: 14px;
    cursor: pointer;
}

.foot-panel1 li {
    padding-top: 10px;
    font-size: 14px;
}

.foot-panel1 h2 {
    font-size: 28px;
}

